body{
  background-color: seashell;
}

h1{
  color: navy;
  font-size: 250%;
  transition: 1s
  word-spacing: 1.2em;
  letter-spacing: 0.1em;
}
h1:hover{
  font-size:256%;
  color: mintCream;
}
hr {
  border: 1px dashed mintCream;
}
p {
    color: mintCream;
}
