body {
  background-image: url('https://97n7r2.csb.app/OldAssignments/Assignment7/images/android-chrome-192x192.png');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-blend-mode:difference;
  background-position: 50%;
  background-color: #cccccc;
}
h1.headline {
  /*Imported a strange font from google fonts*/
  /*Tried to center the header*/
  width: 550px;
  height: 550px;
  margin: 150px auto;
  border: 5px rgb(255, 189, 34) double;
  border-radius: 160px;
  text-align: center;
  font-family: "Micro 5 Charted", sans-serif;
  font-optical-sizing: auto;
  color: blue;
  font-size: 263px;
  background-color: rgba(194, 159, 31, 0.431);
  background-image: url("https://97n7r2.csb.app/OldAssignments/A3/sparklie.gif"); /*bg gif image overlay on top. */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 150% 10000%; /*Modded the scale to give a rain effect. */

}

/*default classes */
h1 {
  /*Changed font and font color. */
  font-family: "Micro 5 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center; /*Font modification and centering*/
  color: green;
}

h2 {
  /*Using H2 on Page1. Changed font. */
  font-family: "Micro 5 Charted", sans-serif;
  text-align: center; /*Font modification and centering*/
  color: olivedrab;
}
h2:hover {
  /*Hover feature enabled on H2 box. yellow dropshadow*/
  font-size: 200%;
  font-family: "Micro 5 Charted", sans-serif;
  color: brown;
  background-color: yellow;
  border: 12px solid rgba(246, 255, 0, 0.473);
  width: 138px;
  height: 138px;
  border-radius: 50px;
}
h3 {
  font-family: "Micro 5 Charted", sans-serif;
  font-optical-sizing: auto;
  color: orange;
  font-size: 420%;
}
p {
  color: chartreuse; /*Using p on Page1. Changed font color. */
  font-family: "Nabla", monospace;
  font-size: 32pt;
  text-align: center; /*Font modification and centering*/
}
/*class ids*/
#seagreen {
  padding: 25px; /*div class id to ovveride the container background colors. */
  background-color: hwb(146 18% 45% / 0.348);
  background-image: url("https://97n7r2.csb.app/OldAssignments/A3/sparklie.gif"); /*bg gif image overlay on top. */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 150% 10000%; /*Modded the scale to give a rain effect. */
}
#overlay {
  background-color: blue); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
/*div classes. */
.container {
  /*container for the some of the other div classes. */
  width: 550px;
  height: 550px;
  border: 2px solid black;
  border-radius: 160px;
  margin: 150px auto;
  position: relative;
}
.box {
  /* color box div classes are nested within this container. */
  width: 150px;
  height: 150px;
  font-family: "Micro 5 Charted", sans-serif;
  width: 150px;
  height: 150px;
  text-align: center;
  /*added a border radius.*/
  border-radius: 50px;
  background-image: url("https://97n7r2.csb.app/OldAssignments/A3/sparklie.gif"); /*bg gif image overlay on top. */
}

/*div color classes are nested within box. */
.darkorange {
  background-color: rgba(145, 84, 9, 0.569);
  
  position: absolute; /*experementing with position. static does nothing?*/
}
.orange {
  background-color: rgba(255, 166, 0, 0.737);
  position: sticky; /*experementing with position. sticky it moved after scrolling and hitting the top of the page*/
  left: 40px;
  top: 20px;
  border: 2px solid turquoise;
  text-align: center; /*Font modification and centering*/
  color: teal;
  font-size: 44pt;
}
.purple {
  background-color: rgba(
    128,
    0,
    128,
    0.278
  ); /*experementing with no position set as a control*/
}
.peachpuff {
  background-color: rgba(255, 218, 185, 0.591);
  position: relative; /*experementing with position. relative is to its original postion!*/
  float: right; /*experementing with floating a cube to the right*/
  border: 2px black solid;
}
.yellow {
  background-color: rgba(255, 255, 0, 0.292);
  border: 2px solid yellow;
  position: absolute; /*experementing with position. absolute stays moves it outside of container its relative to body*/
  z-index: 2; /*experementing with overlapping position. z-index moved the box behind all other elements. default is 0*/
}
.violet {
  background-color: violet;
  border: 2px solid pink;
  position: fixed; /*experementing with position. fixed stays and does not scroll when the page moves moves it outside*/
  left: 40px;
  bottom: 200px;
  color: pink;
  font-size: 44pt;
}
.clearfix {
  /*experementing with clearfix*/
  overflow: auto;
}
.crayImage {
  float: right;
}
/* Defined div classes for each color in the BODY of the pages */
.page1 {
  background-color: blue; /* Change this color to the desired background color for page 1 */
}
.page2 {
  background-color: skyblue; /* Change this color to the desired background color for page 2 */
}
.page3 {
  background-color: #4195d1; /* Change this color to the desired background color for page 3 */
}
.sketchfab-embed-wrapper {
  position: sticky;
  margin-left: 50%;
  background-color: rgba(255, 0, 0, 0.272);
  border: 2px solid red;
  color: red;
  font-size: 128pt;
  background-image: url("https://sketchfab.com/models/97b9548c3d1747449d3cd63b80a7db9a/embed");
  background-position: 50%;
}
